<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<table id="employees" style="width:100%">
    {% if result %}
    <tr>
        <th>databases</th>
    </tr>
    {% for row in result %}
    <tr>
        <!-- <td> {{ row.first_name }}</td>
        <td> {{ row.last_name }}</td>
        <td> {{ row.gender }}</td> -->
        <td> {{ row }}
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>
